/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

body {
  background: rgb(1, 38, 63);
  color: #90f2ff8c;
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
    border: 0;
    background: rgb(1, 33, 55);
    color: #90f2ff8c;
    display: flex;
    font-size: 16px;
    font-size: 1em;
    font-weight: 300;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    padding: 6px 10px;
  }
}

.toc .toggleNav {
  background-color: rgb(1, 38, 63);
  color: #90f2ff8c;
  position: relative;
}

.navigationSlider .slidingNav ul {
  background: rgb(1, 38, 63);
  color: #90f2ff8c;
}

img {
  padding-left: 1rem;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

.navigationSlider .slidingNav ul li {
  flex: 1 1 auto;
  color: #90f2ff8c;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 1023px) {
  .docsNavContainer {
    background: rgb(1, 38, 63);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}

input#search_input_react {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  color: #90f2ff8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  outline: none;
  padding-left: 25px;
  position: relative;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
  width: 170px;
}

.algolia-docsearch-suggestion--category-header {
  display: none;
  background: rgb(1, 38, 63);
  color: #90f2ff8c;
  font-weight: 600;
  padding: 5px 10px;
  text-align: left;
}

.docsNavContainer .toc .navBreadcrumb {
  background-color: rgb(1, 38, 63);
  color: #90f2ff8c;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  height: 48px;
  overflow: hidden;
  padding: 8px 20px;
}

.navBreadcrumb a,
.navBreadcrumb span {
  border: 0;
  color: #90f2ff8c;
}

.line1,
.line2,
.line3 {
  width: 100%;
  height: 3px;
  background-color: #90f2ff8c;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.inner {
  background: rgb(1, 33, 55);
  padding: 1rem;
  border-radius: 1rem;
  color: #90f2ff8c;
}

.gridBlock{
  background: rgb(1, 33, 55);
  border-radius: 1rem;
  padding: 1rem;
}

.mainContainer {
  flex: 1 1 0%;
  max-width: 100%;
  padding: 40px 0;
}

.homeContainer .homeWrapper {
  padding: 1em 10px;
}

.container.paddingTop {
  padding-top: 20px;
}

.container.paddingBottom {
  padding-bottom: 20px;
}

.fixedHeaderContainer {
  background: rgb(1, 38, 63);
  color: #90f2ff8c;
}

.projectTitle {
  color: #90f2ff8c;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: #90f2ff8c;
}

.toc .toggleNav ul li.navListItemActive a {
  color: #90f2ff8c;
}

.button {
  border: 1px solid #90f2ff8c;
  border-radius: 3px;
  color: #90f2ff8c;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
}

.button:hover{
  color: #90f2ff;
}

a {
  color: #90f2ff8c;
  text-decoration: none;
}

 a:hover {
  color: #90f2ff;
}

.toc .toggleNav ul li a {
  border: none;
  color: #90f2ff8c;
  display: block;
  font-size: 14px;
  padding: 4px 0;
  transition: color 0.3s;
}

.onPageNav a {
  color: #90f2ff8c;
}

@media only screen and (min-width: 1024px){
.onPageNav > .toc-headings {
    border-left: 1px solid #90f2ff8c;
    padding: 10px 0 2px 15px;
}}

.navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #90f2ff;
}

.navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: rgb(1, 33, 55);
}

.slidingNav {
  background: rgb(1, 33, 55);
  color: #90f2ff8c;
  height: 70%;
}

.slidingNav, a::after{
  background: rgb(1, 33, 55);
  color: #90f2ff8c;
}

.navigationSlider .slidingNav ul {
  background: rgb(1, 33, 55);
  color: #90f2ff8c;
}

.fixedHeaderContainer {
  background: rgb(1, 33, 55);
  color: #90f2ff8c;
}

.nav-footer {
  background: rgb(1, 38, 63);
  color: #90f2ff8c;
}

article p img,
article iframe {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.imageAlignTop .blockImage {
  max-width: 70%;
  height: 150px;

  object-fit: scale-down
}