/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

*{
  background: rgb(19, 19, 19);
  color: #bebdbd;
}

.inner {
 background: rgb(19, 19, 19);
}

.fixedHeaderContainer{
  background: rgb(19, 19, 19);
}

.nav-footer{
  background:rgb(19, 19, 19);
}

article p img,
article iframe {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.imageAlignTop .blockImage {
  max-width: 70%;
  height: 150px;

  object-fit:scale-down
}